.main {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;

  img {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}
